logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js
.history/
.history
eagle.tar
.github

mysql/
redis/
typings/
config.*.ts
*.d.ts
config.json

docker-compose.yml
docker-compose-base.yml

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
